.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.points {
  list-style: none;
  border-bottom: solid;
  width: 600px;
  background-color: #d8dce4;
  color: #51565c;
  
}


button {
  
}

.todoText {

}

.saveBotton{
 
}
#addNewtask{
  margin-left: 40px;
  margin-top: 50px;
}

.editField {
  float:inline-end;
}



 input {
  margin-top: 5px;
}

#falseLogin {
  visibility: hidden;
}

#sucsess {
  visibility: hidden;
}